openai==1.39.0
certifi
python-dotenv
fire
httpx[socks]
rich
tenacity
PyYAML
ruamel.yaml
requests
jinja2
pydantic==1.10.24
prompt_toolkit
croniter
packaging
Markdown
PyJWT[crypto]
urllib3>=2,<3
cryptography
psutil
websockets
pathspec
fastapi==0.110.3
uvicorn==0.29.0
python-multipart
Pillow
ptyprocess
starlette==0.37.2
edge-tts==7.2.7
